# python ka chilla with baba amaar
## how to use jupyter notebook
### basics of python
### **1- my first program**

In [1]:
print(2+3)
print("hello world")
print("we are learnung python with ammar")

5
hello world
we are learnung python with ammar

### **02-operator**

In [2]:
print(2-6)
print(9/2)

-4
4.5

*PEMDAS
Parenththesis exponents multiply divide addition substraction
left to right for multply and divide, addition and subtraction*

### **03-strings**

In [3]:
print("hello world")
print("we are learnung python with ammar")
print('test for single qoute')
print("madni khan ")
print('''goro ''')
print("hello world")
print("we are learnung python with ammar")
print   (   "what's up")

hello world
we are learnung python with ammar
test for single qoute
madni khan
goro
hello world
we are learnung python with ammar
what's up

### **04-c0mments**

In [4]:
#  press (contrl+/) to generate comment
print("how r u?")
# print the string
print("we r learning python")
# print the operator function of number
print(2+6)

how r u?
we r learning python
8

### **05-variables**

In [5]:
# variables. objects containing specific values.
x=5
print(x)

y="we r learning python"
print(y)

x=15
print(x)

x=x+10
print(x)

# types/class of variables
type(x)
print(type(x))
print(type(y))
# rules to assign a variable
# 1-the variable should contain letters, numbers,underscores
# 2-do not start with numbers
# 3-spaces are not allowed
# 4-do not use keywords used in functions(break, mean, test, median)
# 5-short and discriptive .
# 6-case sensitivity(lower case and upper case letters.lower case should b used)


fruit_basket="mangos"
print(fruit_basket)
fruit_basket="mangos,banana"
print(fruit_basket)
fruit_basket="8"
print(fruit_basket)
fruit_basket="15"
print(fruit_basket)
print(type(fruit_basket))

5
we r learning python
15
25
<class 'int'>
<class 'str'>
mangos
mangos,banana
8
15
<class 'str'>

### **06-input-variables**

In [6]:
fruit_basket="mangoes"
print(fruit_basket)

# input_function simple
fruit_basket=input("which is your faverite fruit? ") 
print(fruit_basket)

# input_function for 2nd stage
name=input("what u r name? ")
greetings="hello"
print(greetings, name)

name=input("what u r name? ")
greetings="hello"
print("hello", name)
# 3rd stage input function

name=input("what ia your name? ")
age=input("how old r u? ")
greeting="hello"
print(greeting, name, ", u r still young")

mangoes
which is your faverite fruit? banana
banana
what u r name? nadeem
hello nadeem
what u r name? nadeem
hello nadeem
what ia your name? nadeem
how old r u? 26
hello nadeem , u r still young

### **07-conditional-operator**

In [8]:
# logical operators are either "true or false or yes or no or 0 or 1"
# equal to                     ==
# not equal to                 !=
# less than                    <
# greator than                 >
# less than and equal to       <= 
# greator than and equal to    >=

# if 4 is equal to 4
print(4!=4)
print(4<4)
print(4>2) 
print(5>=4)
# application of logical operators
hammad_age=4
age_at_school=5
print(hammad_age==age_at_school)
# input operator and logicals
age_at_school=5
hammad_age=input("how old is hammad")
hammad_age=int(hammad_age)
print(type(hammad_age))
print(hammad_age==age_at_school)
# convert input

False
False
True
True
False
how old is hammad15
<class 'int'>
False

### **08-type-conversion**

In [10]:
x=10           
y=10.2                                        
z="hello"                                    
x=x*y
print(type(x))
#simplict tupe conversion
x=x+y
print(x,"type of x is:", type(x))

# explicit type conversion
age=input("what is your age? ")
age=int(age)
print(age, type(int(age)))
print(age, type(float(age)))
# name
name=input("what is your name? ")
print(name, type(str(name)))
print(name, type(int(name)))

<class 'float'>
112.2 type of x is: <class 'float'>
what is your age? 26
26 <class 'int'>
26 <class 'float'>
what is your name? nadeem
nadeem <class 'str'>

ValueError: invalid literal for int() with base 10: 'nadeem'

### **09-if-else-elif**

In [12]:
 required_age_at_school=5
hammad_age=4

#question :can hammad go to school
if hammad_age==required_age_at_school:
    print("hammad can join the school")
else:
    print("hammad can not go to school")    
required_age_at_school=10
hammad_age=5
if hammad_age==required_age_at_school:
    print(" congratulations hammad can join the school")
elif hammad_age > required_age_at_school:
    print("hammad should join hss")
else:
    print("hammad can not go to school ") 


required_age_at_school=10
hammad_age=12
if hammad_age==required_age_at_school:
        print(" congratulations hammad can join the school")
elif hammad_age > required_age_at_school:
        print("hammad should join hss")
else:
        print("hammad can not go to school ")

hammad can not go to school
hammad can not go to school
hammad should join hss

### **10-function**

In [13]:
 # defining functions
# 1
def print_makki():
    print("how old r u?")
    print("how old r u?")
    print("how old r u?")

print_makki()

    # 2
def print_makki():
        text = "how old are u"
        print(text)
        print(text)
        print(text)
print_makki()

# 3
def print_makki(text):
    print(text)
    print(text)
    print(text)
print_makki("hello boy")

# defining a function with if, else,elif statments

def school_calculator(age, text):
    
    if age==5:
        print(" congratulations hammad can join the school")
    elif age>5:
        print("hammad should join hss")
    else:
        print("hammad can not go to school ")
school_calculator(12, "nadeem") 


def school_calculator(age, text):
    
    if age==5:
        print(" congratulations hammad can join the school")
    elif age>5:
        print("hammad should join hss")
    else:
        print("hammad can not go to school ")
school_calculator(4, "nadeem")    



# defining a function of future

def future_age(age):
    new_age=age+20
    return new_age
    print(new-age)
future_predicted_age= future_age(21)
print(future_predicted_age)

how old r u?
how old r u?
how old r u?
how old are u
how old are u
how old are u
hello boy
hello boy
hello boy
hammad should join hss
hammad can not go to school
41

### **11-loops**

In [26]:
 #while and for loops

# while loop
x=0
while (x<5):
    print(x)
    x=x+1


x=0
while (x<=5):
    print(x)
    x=x+1

# for loop
for x in range(5, 10):
    print(x)

# array
days=["monday","tue", "wed", "thu", "fri", "sat", "sun"]
for d in days:
    if(d=="fri"): break
    if(d=="fri"): continue
print(d)

0
1
2
3
4
0
1
2
3
4
5
5
6
7
8
9
fri

### **12-import libraries**

In [27]:
# if u want to print the value of pi

import math
print("the value of pi is",math.pi)

import statistics
x=[150,230,330,210.410]
print(statistics.median(x))
# numpy, pandas

the value of pi is 3.141592653589793
220.20499999999998

### **13-trouble-shooting**

In [ ]:
 print(|we r learning python with ammmar)              #syntax error
# print(25/0)                                             #runtime error


# name="nadeem"
# print("hello name")                                     #symentic error